HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/certs/

# Miscellanea
/src/main/resources/application-CONSUMER_DOCKER.properties
/src/main/resources/application-PRODUCER_DOCKER.properties
/docker-compose.yaml
/Dockerfile
/dockerize.sh
/src/main/resources/application-CONSUMER_LOCAL.properties
/src/main/resources/application-PRODUCER_LOCAL.properties
/dockerize_travis.sh
